html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
*{
  box-sizing: border-box;
}
body{
  background-color:#222;
}
.landing {
  text-align: center;
  width: 100%;
  margin: 40px auto;
}
@media only screen 
  and (min-device-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    
}
@media screen 
  and (min-device-width: 1200px)
  and (-webkit-min-device-pixel-ratio: 1) { 
}